@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<div class="row" style="background: white; margin-bottom: 10px">
 <span class="col-xs-10 col-sm-4 col-md-3 col-lg-2">
  <img @onclick="@ShowAbout" src="/img/MiracleListLogo.jpg" />
 </span>
 <!--  Anzeige dieses Blocks oben nur auf großen Displays -->
 <span class="col-xs-6 col-lg-9 col-sm-7 col-md-8 hidden-xs" style="margin-top:3px">
  @((MarkupString)status)
 </span>
 <span class="col-xs-1">

  <ul class="nav navbar-nav navbar-right">
   <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">
     <span style="font-size: 2.2em" class="glyphicon glyphicon-menu-hamburger icon-primary"></span>
    </a>
    <ul class="dropdown-menu">
     <li><a href="/About">Über diese App</a></li>
     <li><a href="/Counter">Counter (Standardbeispiel)</a></li>
     <li><a href="/Weather">Weather (Standardbeispiel)</a></li>
     <li><a href="http://www.miraclelist.net">MiracleList</a></li>
    </ul>
   </li>
  </ul>
 </span>
</div>
@Body

<!-- Alternative Anzeige dieses Blocks unten auf kleinen Displays -->
<div class="row">
 <span class="col-xs-12 hidden-sm hidden-md hidden-lg">
  <hr />
  @((MarkupString)status)<br />
 @*  <AuthorizeView>
   <Authorized>Benutzer: @context.User.Identity.Name</Authorized>
   <NotAuthorized>nicht angemeldet</NotAuthorized>
  </AuthorizeView> *@
 </span>
</div>


@code
{
	[CascadingParameter] Task<AuthenticationState> authenticationStateTask { get; set; }

 string status => "Anwendungsversion: " + System.Reflection.Assembly.GetExecutingAssembly().GetName().Version + "<br>" + System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription + "<br>Blazor " + this.RendererInfo.Name + "<br>Benutzer: " + user;
	string user = "";
	protected override void OnInitialized()
	{
		// Ausgabe der	Render-Modi in der Debug-Konsole
		var renderMode = $"RenderMode = {this.RendererInfo.Name} -> {this.AssignedRenderMode?.GetType()?.Name}";
		var linie = new string('=', renderMode.Length);
		System.Diagnostics.Debug.WriteLine($"{linie}\n{renderMode}\n{linie}");
	}

	protected override async Task OnParametersSetAsync()
	{
  user = (await authenticationStateTask).User.Identity.Name;
	}

 public void ShowAbout()
 {
  if (NavigationManager.Uri.Contains("/about", StringComparison.OrdinalIgnoreCase)) NavigationManager.NavigateTo("/");
  else NavigationManager.NavigateTo("About");
 }
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>