@page "/about"
@page "/ueber"

@inject MiracleListAPI.MiracleListProxy proxy
@inject NavigationManager nav

<h3>Über diese Anwendung</h3>
Autor: Dr. Holger Schwichtenberg, <a href="http://www.IT-Visions.de/">www.IT-Visions.de</a>
<br />
<div style="margin-top:10px">
<h4>Client</h4>
@*Beispiel: Direkter Aufruf einer Methode*@
Application Version @System.Reflection.Assembly.GetExecutingAssembly()!.GetName()!.Version!.ToString()
<br />
@*Beispiel: Verwendung einer Variablen*@
@DOTNETVersion
 <br />
 @*Beispiel: Nutzung eines Properties*@
	Aktueller Blazor-Render-Modus: @this.RendererInfo.Name (Ziel-Blazor-Rendermodus: @this.AssignedRenderMode?.GetType()?.Name)
</div>

<div style="margin-top:10px">
@*Beispiel: Nutzung einer Information, die asynchron eingeht*@
<h4>Server (WebAPI-Backend)</h4>
@ServerAppVersion
<br />
@ServerFramework</div>

@code {
 public string DOTNETVersion { get; set; } = "n/a";
 public string ServerAppVersion { get; set; } = "n/a";
 public string ServerFramework { get; set; } = "n/a";
 /// <summary>
 /// Lebenszyklusereignis: Komponente wird initialisiert
 /// </summary>
 protected override async Task OnInitializedAsync()
 {
  DOTNETVersion = " " + System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription;

  // WebAPI aufrufen
  var serverData = await proxy.AboutAsync();
  ServerAppVersion = serverData[6];
  ServerFramework = serverData[8];

  Util.Log(DOTNETVersion);
 }

 protected override void OnAfterRender(bool firstRender)
 {
  Util.Log(nav?.GetType()?.FullName);
 }
}