<!DOCTYPE html>
<html lang="en">

<head>

 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <base href="/" />
 <!--Bootstrap und eigenes Styles -->
 <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
 <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
 <link href="styles.css" rel="stylesheet" />
 <script src="js/jquery.js" defer></script>
 <script src="js/bootstrap.min.js" defer></script>
 <!--Style Bundle -->
 <link rel="stylesheet" href="MiracleList.styles.css" />
 <link rel="stylesheet" href="_content/MiracleList.Client/MiracleList.Client.bundle.scp.css" />
 <link rel="icon" type="image/png" href="favicon.png" />
 <HeadOutlet @rendermode="InteractiveAuto" />

</head>

<body>

 <div class="container-fluid">
  <Routes @rendermode="InteractiveAuto" />
  <script src="_framework/blazor.web.js"></script>
 </div>

</body>

</html>